<div class="col-md-6 offset-md-3">
	<h3 class="text-center">Actualizar Salon #{{partyroom.id}}</h3>
	<form (ngSubmit)="onSubmit()" #partyroomForm = "ngForm" *ngIf="partyroom">
		<div class="form-group">
			<label>Nombre : </label>
			<input type="text" class="form-control" id="nombre"
			[(ngModel)] = "partyroom.name" 
			name="Nombre"
			required 
			minlength="3"
			maxlength="50"
			placeholder="Escriba el nombre del salon"
			#nombre = "ngModel"
			>
			<div class="alert alert-danger" *ngIf = "nombre.invalid && (nombre.dirty || nombre.touched)" >
				<div *ngIf = "nombre.errors?.['required']">
					Debe ingresar el nombre del salon
				</div> 
				<div *ngIf = "nombre.errors?.['minlength']">
					El nombre debe ser mayor a 4 caracteres
				</div>
				<div *ngIf = "nombre.errors?.['maxlength']">
					El nombre debe tener maximo 50 caracteres
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Propietario : </label>
			<input type="text" class="form-control" id="propietario"
			[(ngModel)] = "partyroom.owner" 
			name="Propietario"
			required 
			minlength="3"
			maxlength="50"
			placeholder="ingrese el nombre del propietario"
			#propietario = "ngModel"
			>
			<div class="alert alert-danger" *ngIf = "propietario.invalid && (propietario.dirty || propietario.touched)" >
				<div *ngIf = "propietario.errors?.['required']">
					Debe ingresar el propietario
				</div> 
				<div *ngIf = "propietario.errors?.['minlength']">
					El nombre del propietario debe ser mayor a 4 caracteres
				</div>
				<div *ngIf = "propietario.errors?.['maxlength']">
					El nombre propietario debe tener maximo 50 caracteres
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Capacidad : </label>
			<input type="text" class="form-control" id="capacidad"
			[(ngModel)] = "partyroom.capacity" 
			name="Capacidad"
			required
			maxlength="6"
			pattern="^[0-9]*$"
			placeholder="Ingrese la capacidad del salon"
			#capacidad = "ngModel"
			>
			<div class="alert alert-danger" *ngIf = "capacidad.invalid && (capacidad.dirty || capacidad.touched)" >
				<div *ngIf = "capacidad.errors?.['required']">
					Debe ingresar la capacidad del salon
				</div> 
				<div *ngIf = "capacidad.errors?.['pattern']">
					El valor es invalido ingrese solo numeros
				</div>
			</div>
		</div>
        <div class="form-group">
			<label>Descripcion : </label>
			<input type="text" class="form-control" id="descripcion"
			[(ngModel)] = "partyroom.description"
			name="Descripcion"
			required 
			minlength="3"
			maxlength="50"
			placeholder="Ingrese una descripcion para el salon"
			#descripcion = "ngModel"
			>
			<div class="alert alert-danger" *ngIf = "descripcion.invalid && (descripcion.dirty || descripcion.touched)" >
				<div *ngIf = "descripcion.errors?.['required']">
					Debe ingresar una descripcion
				</div> 
				<div *ngIf = "descripcion.errors?.['minlength']">
					La descripcion debe ser mayor a 4 caracteres
				</div>
				<div *ngIf = "descripcion.errors?.['maxlength']">
					La descripcion debe tener maximo 50 caracteres
				</div>
			</div>
		</div>
        <div class="form-group" *ngIf="partyroom.category">
			<label>Categoria : </label>
            <select class="form-control" id="categoria"
            [(ngModel)] = "partyroom.category"
            [compareWith]="compareCategory"
            name="Categoria"
            required
            >
            <!-- <option [ngValue]="partyroom.category.name">{{partyroom.category.name}}</option> -->
            <option *ngFor="let category of categories" [ngValue]="category" >
                {{category.name}}
            </option>
        </select>
		</div>
		<button class="btn btn-success" [disabled] = "!partyroomForm.form.valid">Guardar</button>
	</form>
</div>
