<nav class="navbar navbar-expand-sm navbar-dark bg-light">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="clients" routerLinkActive="active">Lista de clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="clients-register" routerLinkActive="active">Añadir cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="partyrooms" routerLinkActive="active">Lista de salones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="partyrooms-create" routerLinkActive="active">Crear salones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="messages" routerLinkActive="active">Lista de mensajes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="messages-create" routerLinkActive="active">Crear mensajes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categories" routerLinkActive="active">Lista de categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categories-create" routerLinkActive="active">Crear categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reservations" routerLinkActive="active">Lista de reservas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reservations-create" routerLinkActive="active">Crear reservas</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
